<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DOIT</title>
    <script src="https://unpkg.com/vue/dist/vue.min.js"></script>
    <script src="https://unpkg.com/vue-router/dist/vue-router.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/blueimp-md5/2.18.0/js/md5.min.js"></script>
    <meta name="theme-color" content="#ffffff"/>
    <link rel="icons" type="image/png" sizes="192x192"  href="icon192.png">
    <link rel="apple-touch-icon" href="icon192.png">
    <link rel="icon" href="icon192.png" sizes="192x192"/>
    <link rel="icon" href="icon512.png" sizes="512x512"/>
    <link rel="manifest" href="manifest.json">
    <script>
    if('serviceWorker' in navigator) {
        navigator.serviceWorker.register('sw.js');
    }
    </script>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://bootswatch.com/4/minty/bootstrap.css">
</head>
<body>
    <div id='app'>
        <div v-if="loading" class="container-first-level">
            <div class="loader"></div>
        </div>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <router-link class="navbar-brand" to="/home">
                DOIT
            </router-link>
            <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarColor01"
                aria-controls="navbarColor01" :aria-expanded="menu" aria-label="Toggle navigation" @click="toggleMenu">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse" :class="{'show': menu}" id="navbarColor01" @click="choosen">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <router-link class="nav-link" to="/search">
                            search
                        </router-link>
                    </li>
                    <li class="nav-item" v-show="user" v-for="(role, index) in roles" v-show="role" :key="index">
                        <router-link class="nav-link" :to="'/'+role.type">
                            {{role.type}}
                        </router-link>
                    </li>
                    <li class="nav-item">
                        <router-link class="nav-link" v-show="user" to="/user-main">
                            user
                        </router-link>
                    </li>

                </ul>
                <div class="form-inline my-2 my-lg-0" id="navbarColor01">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <router-link class="nav-link" v-show="!user" to="/login">
                                login
                            </router-link>
                        </li>
                        <li class="nav-item">
                            <router-link class="btn btn-secondary my-2 my-sm-0" v-show="!user" to="/signin">
                                GET STARTED
                            </router-link>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div v-show="alert">
            <div class="alert alert-dismissible alert-danger">
                <button type="button" class="close" data-dismiss="alert" @click="removeAlert()">&times;</button>
                {{alert}}
            </div>
        </div>
        <router-view @load="load" @push="push"></router-view>
    </div>
    <script src="router.js"></script>
</body>
</html>